<!DOCTYPE html>
<html>

	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	

<body>
<!--	<h1><% var a = "i am varun" %></h1>
   <select><% for(i=0;i<=10;i++){ %>
     <h4><option> <%= i %></option></h4>
  <% } %></select>
<%= a %>
<h1>name: <%= result[1].name %></h1>
<h1>num: <%= result[1].num %></h1>
-->
<div class="row">
	<% for(i=0;i<result.length;i++){ %>   
<div class="col-md-4" style="color: pink">
<h1>name: <%= result[i].name %></h1>   
<h1>name: <%= result[i].name1 %></h1>

<h1>name: <%= result[i].name2 %></h1>
<h1>name: <%= result[i].num %></h1>
</div>
<% } %>

</div>
</body>
</html>